<!-- aside dropdown start-->
<div class="aside-dropdown">
  <div class="aside-dropdown__inner">
    <span class="aside-dropdown__close">
      <svg class="icon"><use xlink:href="#close"></use></svg></span>
        <div class="aside-dropdown__item d-lg-none d-block">
          <ul class="aside-menu">
            <li class="aside-menu__item aside-menu__item--has-child aside-menu__item--active">
              <a class="aside-menu__link" href="javascript:void(0);"><span>Home</span></a>
              <!-- sub menu start-->
              <ul class="aside-menu__sub-list">
                <li>
                  <a href="index.html"><span>01 Home Color Style</span></a>
                </li>
                <li>
                  <a href="front_2.html"> <span>02 Home Color Style</span></a>
                </li>
                <li class="item--active">
                  <a href="front_3.html"><span>03 Home Color Style</span></a>
                </li>
                <li>
                  <a href="mono/index.html"><span>04 Home Monochrome</span></a>
                </li>
                <li>
                  <a href="mono/front_2.html"><span>05 Home Monochrome</span></a>
                </li>
                <li>
                  <a href="mono/front_3.html"><span>06 Home Monochrome</span></a>
                </li>
              </ul>
              <!-- sub menu end-->
            </li>
            <li class="aside-menu__item aside-menu__item--has-child">
              <a class="aside-menu__link" href="javascript:void(0);"><span>Pages</span></a>
              <!-- sub menu start-->
              <ul class="aside-menu__sub-list">
                <li>
                  <a href="about.html"><span>About</span></a>
                </li>
                <li>
                  <a href="typography.html"> <span>Typography</span></a>
                </li>
                <li>
                  <a href="donors.html"><span>Donors & Partners</span></a>
                </li>
                <li>
                  <a href="volunteer.html"><span>Become a Volunteer</span></a>
                </li>
                <li>
                  <a href="events.html"><span>Events</span></a>
                </li>
                <li>
                  <a href="event-details.html"><span>Event Details</span></a>
                </li>
                <li>
                  <a href="stories.html"><span>Stories</span></a>
                </li>
                <li>
                  <a href="story-details.html"><span>Story Details</span></a>
                </li>
                <li>
                  <a href="blog.html"><span>Blog</span></a>
                </li>
                <li>
                  <a href="blog-post.html"><span>Blog Post</span></a>
                </li>
                <li>
                  <a href="gallery.html"><span>Gallery</span></a>
                </li>
                <li>
                  <a href="pricing.html"><span>Pricing Plans</span></a>
                </li>
                <li>
                  <a href="faq.html"><span>FAQ</span></a>
                </li>
                <li>
                  <a href="404.html"><span>404 Page</span></a>
                </li>
              </ul>
              <!-- sub menu end-->
            </li>
            <li class="aside-menu__item aside-menu__item--has-child">
              <a class="aside-menu__link" href="javascript:void(0);"><span>Causes</span></a>
              <!-- sub menu start-->
              <ul class="aside-menu__sub-list">
                <li>
                  <a href="causes.html"><span>Causes 1</span></a>
                </li>
                <li>
                  <a href="causes_2.html"> <span>Causes 2</span></a>
                </li>
                <li>
                  <a href="causes_3.html"><span>Causes 3</span></a>
                </li>
                <li>
                  <a href="cause-details.html"><span>Cause Details</span></a>
                </li>
              </ul>
              <!-- sub menu end-->
            </li>
            <li class="aside-menu__item aside-menu__item--has-child">
              <a class="aside-menu__link" href="javascript:void(0);"><span>Shop</span></a>
              <!-- sub menu start-->
              <ul class="aside-menu__sub-list">
                <li>
                  <a href="shop.html"><span>Catalog Page</span></a>
                </li>
                <li>
                  <a href="shop-product.html"><span>Shop Product</span></a>
                </li>
                <li>
                  <a href="shop-cart.html"><span>Shop Cart</span></a>
                </li>
                <li>
                  <a href="shop-checkout.html"><span>Shop Checkout</span></a>
                </li>
                <li>
                  <a href="shop-account.html"><span>Shop Account</span></a>
                </li>
              </ul>
              <!-- sub menu end-->
            </li>
            <li class="aside-menu__item">
              <a class="aside-menu__link" href="contacts.html"><span>Contacts</span></a>
            </li>
            <li class="aside-menu__item aside-menu__item--has-child">
              <a class="aside-menu__link" href="javascript:void(0);"><span>Elements</span></a>
              <!-- sub menu start-->
              <ul class="aside-menu__sub-list">
                <li>
                  <a href="alerts.html"><span>Alerts</span></a>
                </li>
                <li>
                  <a href="team.html"><span>Team</span></a>
                </li>
                <li>
                  <a href="testimonials.html"><span>Testimonials</span></a>
                </li>
                <li>
                  <a href="accordion.html"><span>Accordion</span></a>
                </li>
                <li>
                  <a href="tabs.html"><span>Tabs</span></a>
                </li>
                <li>
                  <a href="pricing-plan.html"><span>Pricing Plan</span></a>
                </li>
                <li>
                  <a href="counters.html"><span>Counters</span></a>
                </li>
                <li>
                  <a href="icons.html"><span>Icons</span></a>
                </li>
              </ul>
              <!-- sub menu end-->
            </li>
          </ul>
        </div>
        <div class="aside-dropdown__item">
          <!-- aside menu start-->
          <ul class="aside-menu">
            <li class="aside-menu__item">
              <a class="aside-menu__link" href="#">Documents</a>
            </li>
            <li class="aside-menu__item">
              <a class="aside-menu__link" href="#">Information</a>
            </li>
            <li class="aside-menu__item">
              <a class="aside-menu__link" href="#">Additional Pages</a>
            </li>
            <li class="aside-menu__item">
              <a class="aside-menu__link" href="#">Elements</a>
            </li>
            <li class="aside-menu__item">
              <a class="aside-menu__link" href="#">Contacts</a>
            </li>
          </ul>
          <!-- aside menu end-->
          <div class="aside-inner">
            <span class="aside-inner__title">E-mail</span><a class="aside-inner__link" href="mailto:contato@vaquinhaanimal.com.br">contato@vaquinhaanimal.com.br</a>
          </div>
          <div class="aside-inner">
            <span class="aside-inner__title">Telefone</span><a class="aside-inner__link" href="tel:+180012345678">+55 21 98745-4856</a>
          </div>
          <ul class="aside-socials">
            <li class="aside-socials__item">
              <a class="aside-socials__link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="aside-socials__item">
              <a class="aside-socials__link" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </li>
            <li class="aside-socials__item">
              <a class="aside-socials__link aside-socials__link--active" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="aside-socials__item">
              <a class="aside-socials__link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div class="aside-dropdown__item">
          <a class="button button--squared" href="#"><span>Donate</span></a>
        </div>
      </div>
    </div>
    <!-- aside dropdown end-->
    <!-- top bar start-->
    <div class="top-bar d-none d-lg-block">
      <div class="container-fluid">
        <div class="row align-items-end">
          <div class="col-lg-9">
            <a class="top-bar__link" href="tel:+180012345678">+55 21 97897-4848</a><a class="top-bar__link" href="mailto:contato@vaquinhaanimal.com.br">contato@vaquinhaanimal.com.br</a>
          </div>
          <div class="col-lg-3 text-right">
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- top bar end-->
    <!-- header start-->
    <header class="header header--front_3">
      <div class="container-fluid">
        <div class="row no-gutters justify-content-between">
          <div class="col-auto d-flex align-items-center">
            <div class="dropdown-trigger d-none d-sm-block">
              <div class="dropdown-trigger__item"></div>
            </div>
            <div class="header-logo">
              <a class="header-logo__link" href="index.html"><img class="header-logo__img" src="assets/img/logo_fundo_claro.png" alt="logo"/></a>
            </div>
          </div>
          <div class="col-auto">
            <!-- main menu start-->
            <nav>
              <ul class="main-menu">
                <li class="main-menu__item main-menu__item--has-child">
                  <a class="main-menu__link" [routerLink]="['/']"><span>Home</span></a>
                </li>
                <li class="main-menu__item main-menu__item--has-child">
                  <a class="main-menu__link" [routerLink]="['campanhas']"><span>Campanhas</span></a>
                </li>
                <li class="main-menu__item main-menu__item--has-child">
                  <a class="main-menu__link" [routerLink]="['artigos']"><span>Artigos</span></a>
                </li>
                <li class="main-menu__item main-menu__item--has-child">
                  <a class="main-menu__link" [routerLink]="['contato']"><span>Contato</span></a>
                </li>
                <li class="main-menu__item main-menu__item--has-child">
                  <a class="main-menu__link" [routerLink]="['auth/login']"><span><strong>Entrar</strong></span></a>
                </li>
                <li class="main-menu__item main-menu__item--has-child">
                  <a class="main-menu__link" [routerLink]="['auth/register']"><span><strong>Cadastrar</strong></span></a>
                </li>
              </ul>
            </nav>
            <!-- main menu end-->
          </div>
          <div class="col-auto d-flex align-items-center">
            <a class="button button--squared" href="#"><span>Quero salvar um pet</span></a>
            <div class="dropdown-trigger d-block d-sm-none">
              <div class="dropdown-trigger__item"></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end-->